@model AutoPlus1017.Entities.Orders

@{
    ViewData["Title"] = "Изтрий";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете това ?</h3>
<div>
    <h4>Поръчки</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCreateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Върни се назад</a>
    </form>
</div>
