@model IEnumerable<AutoPlus1017.Entities.Orders>

@{
    ViewData["Title"] = "Начало";
}

<h1>Начална страница</h1>

<p>
    
    <a class="btn btn-primary" asp-action="Create">Направи нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCreateDate)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
